/* GoogleMapWrap */
.section {
  width: 65%;
  height: inherit;
}

/* Marker */
.div {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50% 50% 50% 0;
  /* background: ${props => (props.isHovered ? "red" : "blue")};/ */
  transform: rotate(-45deg);
  /* z-index: ${props => (props.isHovered ? 1 : 0)}; */
}
